# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Personnal draft files
draft.m

# Don't track changes for the result files
res/

# Generated .tex files from matlab2tikz
*.tex
